body { font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;font-size: 12px; }
body::-webkit-scrollbar-track { -webkit-box-shadow: inset 0 0 2px rgba(0,0,0,0.3);box-shadow: inset 0 0 2px rgba(0,0,0,0.3);background-color: #F5F5F5; }         
body::-webkit-scrollbar { width:6px;height: 6px;background-color: #F5F5F5; }        
body::-webkit-scrollbar-thumb { background-color: #000000; }

h1 { font-size: calc(1.375rem + 1.5vw); }
h2 { font-size: calc(1.325rem + .9vw); }
h3 { font-size: calc(1.3rem + .6vw); }
h4 { font-size: calc(1.275rem + .3vw); }
h5 { font-size: 1.25rem; }
h6 { font-size: 1rem; }

hr { margin-bottom: 0px; }

html { overflow-x:hidden; }
.btn { font-size:12px; }
.pad5p { padding:5px; }
.pad15p { padding:15px; }

.m15p { margin:15px; }

.mtop5p { margin-top:5px; }
.mtop10p { margin-top:10px; }
.mtop15p { margin-top:15px; }

.mbot5p { margin-bottom:5px; }
.mbot10p { margin-bottom:10px; }
.mbot15p { margin-bottom:15px; }

@media screen and (max-width: 576px) { /* xs */
    .navbar-layout { margin: 15px;  }
}
@media (min-width: 577px) and (max-width: 768px) { /* sm */
    .navbar-layout { margin: 15px; }
}
@media (min-width: 769px) and (max-width: 992px) { /* md */
    .column { background-color:green; }
}
@media (min-width: 993px) and (max-width: 1200px) { /* lg */
    .column { background-color:yellow; }
}
@media (min-width: 1201px) and (max-width: 1400px) { /* xl */
    .column { background-color:pink; }
}
@media screen  and (min-width: 1401px) { /* xxl */

}