body { font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;font-size: 12px; }
body::-webkit-scrollbar-track { -webkit-box-shadow: inset 0 0 2px rgba(0,0,0,0.3);box-shadow: inset 0 0 2px rgba(0,0,0,0.3);background-color: #F5F5F5; }         
body::-webkit-scrollbar { width:6px;height: 6px;background-color: #F5F5F5; }        
body::-webkit-scrollbar-thumb { background-color: #000000; }

.scroll::-webkit-scrollbar-track { -webkit-box-shadow: inset 0 0 2px rgba(0,0,0,0.3);box-shadow: inset 0 0 2px rgba(0,0,0,0.3);background-color: #F5F5F5; }         
.scroll::-webkit-scrollbar { width:6px;height: 6px;background-color: #F5F5F5; }        
.scroll::-webkit-scrollbar-thumb { background-color: #000000; }

h1 { font-size: calc(1.375rem + 1.5vw); }
h2 { font-size: calc(1.325rem + .9vw); }
h3 { font-size: calc(1.3rem + .6vw); }
h4 { font-size: calc(1.275rem + .3vw); }
h5 { font-size: 1.25rem; }
h6 { font-size: 1rem; }

hr { margin-bottom: 0px; }

html { overflow-x:hidden; }
.btn { font-size:12px; }
.pad5p { padding:5px; }
.pad15p { padding:15px; }
.m15p { margin:15px; }

.mtop5p { margin-top:5px; }
.mtop10p { margin-top:10px; }
.mtop15p { margin-top:15px; }

.mbot5p { margin-bottom:5px; }
.mbot10p { margin-bottom:10px; }
.mbot15p { margin-bottom:15px; }

@media screen and (max-width: 576px) { /* xs */
    .navbar-layout { margin: 15px;  }
}
@media (min-width: 577px) and (max-width: 768px) { /* sm */
    .navbar-layout { margin: 15px; }
}
@media (min-width: 769px) and (max-width: 992px) { /* md */
    .column { background-color:green; }
}
@media (min-width: 993px) and (max-width: 1200px) { /* lg */
    .column { background-color:yellow; }
}
@media (min-width: 1201px) and (max-width: 1400px) { /* xl */
    .column { background-color:pink; }
}
@media screen  and (min-width: 1401px) { /* xxl */

}
.curpoint { cursor:pointer; }
.form-control, .dropdown-item { font-size:12px !important; }
.form-label-validation-invalid, .form-feedback-validation-invalid {
    color: #dc3545;
}
.form-label-validation-valid, .form-feedback-validation-valid {
    color: #198754;
}
.form-control-validation-invalid {
    border-color: #dc3545;
    background-color:#ffe7e5;
    padding-right: calc(1.5em + 0.75rem);
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 12' width='12' height='12' fill='none' stroke='%23dc3545'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%23dc3545' stroke='none'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: right calc(0.375em + 0.1875rem) center;
    background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
}
.form-control-validation-valid {
    border-color: #198754;
    background-color:#d9ffed;
    padding-right: calc(1.5em + 0.75rem);
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23198754' d='M2.3 6.73.6 4.53c-.4-1.04.46-1.4 1.1-.8l1.1 1.4 3.4-3.8c.6-.63 1.6-.27 1.2.7l-4 4.6c-.43.5-.8.4-1.1.1z'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: right calc(0.375em + 0.1875rem) center;
    background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
}